<div id="<%= dom_id vote %>">
  <p>
    <strong>Voter:</strong>
    <%= vote.voter_id %>
  </p>

  <p>
    <strong>Elections:</strong>
    <%= vote.elections_id %>
  </p>

  <p>
    <strong>Vote:</strong>
    <%= vote.vote %>
  </p>

</div>
